# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,jsonc,json5}]
indent_size = 2

[*.{md,markdown}]
indent_size = 2
trim_trailing_whitespace = false

# Make requires hard tabs to introduce recipe lines; the global space rule above
# would break every recipe with a "missing separator" error.
[{Makefile,*.mk}]
indent_style = tab
